/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
Created on : 27-Nov-2014, 11:56:07
Author : jtony_000
*/
body {
font-family: Arial, Helvetica, sans-serif;
width: 1300px;
background-color:midnightblue;
text-align: left;
margin: 10px auto;
}

#main { background: #eee }
.oddline { background-color: #ccc }
.evenline { background-color: #fff }

#header {
height: 100px;
    width: 1300px;
    position: fixed;
    top: 10px;
background: lightgrey;
}
#logo {
height: 90px;
width: 250px;
float: left;
margin-left: 5px;
margin-top: 5px;
}
#logoText {
float: left;
margin: 20px 0 0 70px;
/* font styles apply to text within alt tags */
font-family: 'American Typewriter', Courier, monospace;
font-size: 50px;
color: #333;
}
.headerWidget {
width: 250px;
margin: 10px;
font-size: medium;
float: right;
line-height: 20px;
background: lightgrey;
}
#footer {
height: 40px;
width: 1300px;
    position: fixed;
    top: 590px;
clear: left;
background:lightgrey;
}
hr {
border: 0;
background-color: #333;
height: 1px;
margin: 5px 0px;
width: 300px;
}


#indexLeftColumn {
height: 500px;
width: 250px;
position: fixed;
top: 120px;
left: 25px;
float: left;
background: lightgrey;
}

.leftColumnTitle {
    position:absolute;
    left:10px;    
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 18px;  
}

.leftsideButtons {
    text-indent: 50px;
    
    font-family:"Comic Sans MS", cursive, sans-serif;
}
#indexCentreColumn {
height: auto;
width: 750px;
    position: relative;
    top: 120px;
    left: 275px;
float: left;
background: #ddd;
}
.categoryBox {
height: 140px;
width: 720px;
margin: 15px 15px;
float: left;
background: lightgrey;
}
.categoryLabelText {
color: azure;
margin-left: 25px;
line-height: 150%;
font-size: x-large;
float: left;
}
.categoryDescription {
margin-top: 50px;
line-height: 200%;
font-size: small;

}
.categoryImage {
float: left;
}

form.registrationForm {}

table#register_form tbody tr td {
    text-indent: 50px;
    text-align: left;
    width: 225px
}

table#register_form tbody tr td input {
    
    text-align: left;
    width: 220px
}


#indexRightColumn {
height: 500px;
width: 250px;
position: fixed;
top: 120px;
left: 1075px;
float: left;
background: lightgrey;
}

.rightColumnTitle {
    position:absolute;
    left:10px;    
    font-family:"Comic Sans MS", cursive, sans-serif;
    font-size: 18px;    
}


